<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d78c7a77-6232-4382-9cda-1716463e37b9" Publisher="CN=Rishabh" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CITY QUIZ</DisplayName>
    <PublisherDisplayName>Rishabh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CITY_QUIZ.App">
      <m2:VisualElements DisplayName="CITY QUIZ" Square150x150Logo="Assets\Logo1.png" Square30x30Logo="Assets\Square30x30Logo.png" Description="CITY QUIZ" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="Geek City" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>